<h1>Attendance Page</h1>

<center>
  <%= button_to "Login", records_path,remote: true %>
   <%#= button_to "Logout" %>
   <div id="record">
     <%= render :partial => "records/record_table",:locals=>{:records=> @records} %>
  </div>
</center>
