<h1>Attendance Page</h1>

<center>
  <%= link_to("login", {:action => 'create'}, :class => 'action create') %>  <%#= button_to "Logout" %>
    <%= render(:partial => "form", :locals => {:f => f}) %>
</center>
