<table summary = " User form fields" >
      <tr>
        <th>Email</th>
        <th>Login Time</th>
        <th>Logout Time</th>
        <th>Total Time</th>
      </tr>
      <% @records.each do |record| %>
        <tr>
            <td><%= record.user.email %></td>
            <td><%= record.login_time %></td>
            <td><%= record.logout_time %></td>
            <td><%#= total %></td>
        </tr>
      <% end %>
    </table>